WSInterfaceDyn/App_WebReferences/WSTrans/wstransition.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GuardarArchivoAsync">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Aplicacion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Categoria" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NombreArchivo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TipoContenido" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Contenido" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GuardarArchivoAsyncResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GuardarArchivoAsyncResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GuardarArchivoAsyncSoapIn">
    <wsdl:part name="parameters" element="tns:GuardarArchivoAsync" />
  </wsdl:message>
  <wsdl:message name="GuardarArchivoAsyncSoapOut">
    <wsdl:part name="parameters" element="tns:GuardarArchivoAsyncResponse" />
  </wsdl:message>
  <wsdl:portType name="WSTransitionSoap">
    <wsdl:operation name="GuardarArchivoAsync">
      <wsdl:input message="tns:GuardarArchivoAsyncSoapIn" />
      <wsdl:output message="tns:GuardarArchivoAsyncSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSTransitionSoap" type="tns:WSTransitionSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GuardarArchivoAsync">
      <soap:operation soapAction="http://tempuri.org/GuardarArchivoAsync" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSTransitionSoap12" type="tns:WSTransitionSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GuardarArchivoAsync">
      <soap12:operation soapAction="http://tempuri.org/GuardarArchivoAsync" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSTransition">
    <wsdl:port name="WSTransitionSoap" binding="tns:WSTransitionSoap">
      <soap:address location="http://10.0.3.75/dg/wstransition.asmx" />
    </wsdl:port>
    <wsdl:port name="WSTransitionSoap12" binding="tns:WSTransitionSoap12">
      <soap12:address location="http://10.0.3.75/dg/wstransition.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>